.btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: #a6ecf0;
}