.card {
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px; 
    align-items: center;
    margin: 50px 0px;
  }

.cardImage{
    height: 180px;
}
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #333;
    padding: 20px;
  }

  .cardButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    transition: 0.3s ease-in;
  }
  
  .cardButton:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    .card {
      padding: 20px; /* Reduza o preenchimento em telas menores */
      margin: 20px 0px; /* Reduza a margem em telas menores */
    }
  
    .cardImage {
      height: auto; /* Permita que a altura da imagem se ajuste automaticamente */
      max-width: 100%; /* Faça a imagem se ajustar à largura do cartão */
    }
  
    .cardTitle {
      font-size: 1.2rem; /* Reduza o tamanho da fonte em telas menores */
      margin-bottom: 8px; /* Reduza a margem inferior */
    }
  
    .card-text {
      font-size: 1rem; /* Reduza o tamanho da fonte em telas menores */
      padding: 10px 0px; /* Reduza o preenchimento vertical */
    }
  
    .cardButton {
      font-size: 1rem;
      margin-top: 10px;
    }
  }
  
  
  
  
  
  
  

