

.card {
  background-color: rgba(0, 0, 0, 0.75); 
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px 0px;
}

.cardHeader {
  background-color: #31006546; 
}

.title {
  color: white;
  font-size: 34px;
  padding: 15px 0;
}

.infoSection {
  margin-top: 20px; 
}

.cardBody {
  padding: 20px; 
}

.patchTitle {
  color: #5a0084; 
  font-size: 24px;
  padding-bottom: 30px;
}

.updateList {
  list-style-type: disc;
  margin-left: 20px; 
}

.updateItem {
  margin-bottom: 5px; 
}

.image {
  width: 400px; 
  height: 200px;
}

@media (max-width: 768px) {
  .image {
    max-width: 100%; /* Define a largura máxima da imagem como 100% da largura do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem e ajusta automaticamente a altura */
  }
}