

.card {
  background-color: rgba(0, 0, 0, 0.75); /* Ajustei a opacidade para um efeito de fundo mais escuro */
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cardHeader {
  background-color: #31006546; /* Cor de fundo do cabeçalho da card */
}

.title {
  color: white;
  font-size: 34px;
  padding: 15px 0;
}

.infoSection {
  margin-top: 20px; /* Espaço entre o cabeçalho e o conteúdo quando expandido */
}

.cardBody {
  padding: 20px; /* Espaçamento interno do corpo da card */
}

.patchTitle {
  color: #5a0084; /* Cor do título dos patch notes */
  font-size: 24px;
  padding-bottom: 30px;
}

.updateList {
  list-style-type: disc; /* Estilo da lista de atualizações */
  margin-left: 20px; /* Espaçamento à esquerda para a lista de atualizações */
}

.updateItem {
  margin-bottom: 5px; /* Espaçamento entre os itens da lista de atualizações */
}

.image {
  width: 400px; /* Para garantir que a imagem não ultrapasse a largura da card */
  height: 200px; /* Para manter a proporção da imagem */
}