.container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}
.column {
    flex-direction: column;
    justify-content: flex-start;
}