.msg {
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5em;
    border-radius: 5px;
}

.sucesso {
    color: green;
    background-color: #d5ead5;
    border-color: #7ab287;
}

.erro {
    color: red;
    background-color: #ffc9c9;
    border-color: #dd8080;
}

.aviso {
    color: yellow;
    background-color: #fdffda;
    border-color: #e3e6a2;
}